<app-header></app-header>
<app-header></app-header>
<div class="movie-container">
  <div class="top">
    <div class="left">
      <div class="name">{{ movie?.name }}</div>
      <div class="cover">
        <img [src]="movie?.cover" alt="" />
      </div>
    </div>
    <div class="right">
        <div class="form-group">
          <label for="uname">Name</label>
          <input type="text" name="uname" class="form-control" />
        </div>
        </div>
      </div>
    </div>
 
      
   
 
